/.gitignore
/cmake-build-debug/
/build/
/client/cmake-build-debug/
/server/.idea/
/server/build/
/server/cmake-build-debug/
/local/cmake-build-debug/
/client/.idea/
/client/build/
/client/cmake-build-debug/
